html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
}
.banner {
  width: 100%; 
}

h1, h3 {
 text-align: center;
}

.hidden {
  display: none;
}
 
#home {
  background-color: red;
}
 
#journey {
  height: 100%;
  background-color: rgb(100, 104, 186);
}
 
#event {
  background-color: magenta;
}
 
#progress-area {
  float: left;
  position: relative;
  width: 400px;
  margin: 8px;
  border: 10px solid black;
}
 
#forest {
  width: 100%;
  image-rendering: pixelated;
}
 
#caravan {
  position: absolute;
  bottom: 30px;
  left: 0;
}
 
#stats-area {
  float: left;
  height: 220px;
  width: 190px;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}
 
.stat-value {
  float: right;
}
 
#updates-area {
  float: left;
  width: 360px;
  margin: 10px;
  height: 220px;
  padding: 10px;
  font-size: 24px;
  overflow-y: scroll;
}
 
.update-positive {
  background-color: #669966;
  color: black;
}
 
.update-negative {
  color: black;
  background-color: red;
}
 
.update-neutral {
  background-color: #90908F;
  color: white;
}
 
#shop {
  float: left;
  margin: 10px;
  padding: 10px;
  height: 220px;
  width: 140px;
}
 
.product {
  float: left;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  font-size: 24px;
  background: rgb(251, 218, 113);
}
 
#shop button {
  clear: both;
  float: left;
  margin: 5px;
  font-size: 16px;
}
 
#attack {
  float: left;
  margin: 10px;
  padding: 10px;
  height: 220px;
  width: 150px;
  font-size: 20px;
}

#attack-description {
  font-size: 26px;
  color: white;
}

#confront, #runaway {
  font-size: 16px;
}